.principal{
	position: absolute;
	z-index: 10;
	top:20%;
	left: 25%;
	background-color: white;
	border:1px solid #bbb;
	border-radius:3px;
	box-shadow: 0 0 5px 5px rgba(102, 102, 102, 0.4);
	padding: 2%;
}
.ocultar{
	display: none;
}
.resultado{
	width: 200px;
	height: auto;
	position: absolute;
	z-index: 10;
	right: 0;
	background-color: white;
	border:1px solid #bbb;
	display: inline-block;
}
.paginacion{
	width: 10px;
	height: auto;
	position: absolute;
	z-index: 10;
	right: 0;
	bottom: 0;
	background-color: white;
	border:1px solid #bbb;
	display: inline-block;
}